<div class="displayBox">
    <h3>Equipment</h3>
    <ol>
        <li *ngFor="let item of equipmentItems">
            <button [class.green]= "!disabled" (click)= "addItem(item.name, item.mass)" [disabled]= "disableButton(item.mass)">Add to Cargo Hold </button>
            {{item.name}}, {{item.mass}} kg
        </li>
    </ol>
</div>

<hr>

<div class = "displayBox">
    <h3>Cargo Hold: {{cargoHold.length}}/{{maxItems}} Spots Filled</h3>
    <ol>
        <li *ngFor="let equipment of cargoHold">{{equipment}}</li>
    </ol>
    <p>Mass in Hold: {{cargoMass}} kg</p>
    <p [class.nearMaxMass]= "nearMassCap()">Mass Budget Remaining: {{maximumAllowedMass - cargoMass}} kg</p>
    <button (click)= "clearCargo()">clear Cargo Hold</button>
</div>

